doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Scenarios
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap-modal.css')
    link(rel='stylesheet', href='/css/authoring/normalize.min.css')
    link(rel='stylesheet', href='/css/authoring/main.css')
    link(rel='stylesheet', href='/css/authoring/style.css')
    link(rel='stylesheet', href='/css/authoring/fontello.css')
    script(src='/src/vendor/modernizr-2.6.2.min.js')
    //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='/lib/jquery-1.11.1.js')
    script(src='/lib/bootstrap.js')
    //JQUERY UI
    script(src='/lib/jquery-ui-1.10.4.js')
    //JQUERY UI TOUCH PUNCH
    script(src='/lib/jquery.ui.touch-punch.min.js')
    //FORM VALIDATION PLUGIN
    script(src='/src/jquery.validate.js')
    //TEXTEAREA AUTOSIZE PLUGIN
    script(src='/lib/jquery.autosize.min.js')
    //CUSTOM JS
    script(src='/src/main.js')
    script(src='/src/scenario-save.js')
    script(src='/src/atool.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56096521-1', 'auto');
      ga('send', 'pageview');
  body
    #user(uid=user.id)
    .wrapper
      .content
        #element-panel
          .element
            .icon-text-height Instruction
            .instruction.draggable.icon-text-height Instruction
          //.element
              .icon-text-height Textfield
              .textfield.draggable.icon-text-height Textfield
          .element
            .icon-doc-text Textarea
            .textarea.draggable.icon-doc-text Textarea
          .element
            .icon-camera-alt Image
            .image.draggable.icon-camera-alt Image
          .element
            .icon-camera Video
            .video.draggable.icon-camera Video
          .element
            .icon-volume-down Sound
            .sound.draggable.icon-volume-down Sound
          .element
            .icon-list Choice
            .choice.draggable.icon-list Choice
          .element
            .icon-sort-numeric Numerical
            .numerical.draggable.icon-sort-numeric Numerical
          .element
            .icon-calendar Date
            .date.draggable.icon-calendar Date
          .element
            .icon-location Location
            .location.draggable.icon-location Location
        if scenario
          #scenario-head(data-scenarioid='#{scenario._id}')
            a#cancel.cross(href='/letsgo4web') Cancel
            //- if scenario
            input#scenario-title(type='text', placeholder='How do you want to call your scenario?', value=scenario.title)
            //- else
            //- input#scenario-title(type='text', placeholder='How do you want to call your scenario?', required)
            #save-scenario.button.green
              .icon.icon-upload-cloud
              //- if scenario
              | Update
              //- else
              //-   | Save
            p#error-message
        else
          #scenario-head(data-scenarioid='')
            a#cancel.cross(href='/letsgo4web') Cancel
            //- if scenario
            //-   input#scenario-title(type='text', placeholder='How do you want to call your scenario?', value=scenario.title)
            //- else
            input#scenario-title(type='text', placeholder='How do you want to call your scenario?')
            #save-scenario.button.green
              .icon.icon-upload-cloud
              | Save
            p#error-message
        aside
          #sidebar
            #information
              .nav-item.active
                span.icon-info
                | Information
            #screen-nav.ui-sortable
              if (scenario)
                -var int = 0
                for item in scenario.screenData
                  -int = int+1
                  div(id='nav#{int}', class='dropped nav-item ui-droppable')
                    span.icon-mobile-1
                    a(href='#screen#{int}') Screen #{int}
                    span.icon-cancel
          #add-screen.button.grey
            .icon.icon-plus
            | Add new screen
        #screens
          //- #delete-element
          //-   span.icon-trash
          //-   .guide Drag elements here to delete them
          #default-fields.screen.active
            //h2 Organization Type
            //input#scenario-type(class='default-fields-input', type='text', placeholder='What organization are you from')
            //h2 Date
            //input#scenario-start(class='default-fields-input', type='date', placeholder='When does it start?')
            //span -
            //input#scenario-end(class='default-fields-input', type='date', placeholder='When does it start?', visible='false')
            //br
            //br
            //br
            h2 Description
            if (scenario)
              input#scenario-description(class='default-fields-input', type='text', placeholder='How would you describe the scenario?', value=scenario.description)
            else
              input#scenario-description(class='default-fields-input', type='text', placeholder='How would you describe the scenario?')
            .scenario-element
              label(for='groupname-input') Group name
              br
              .content.required
                input(id='groupname-input', type='text', disabled)
              .required-switch
                input(type='checkbox', checked='checked', name='required', disabled)
                span Required
          if (scenario)
            -var i=0
            for screen in scenario.screenData
              -i = i+1
              div(id='screen#{i}', class='screen block droppable ui-droppable ui-sortable')
                .delete-element
                  span.icon-trash
                  .guide Drag elements here to delete them
                for element in screen.screenElements
                  -var checked = element.required==="true" ? "checked" : undefined;
                  case element.type
                    when "instruction"
                      div(class='scenario-element dropped instruction')
                        textarea(class='label', placeholder='Instruction') #{element.title}
                    when "textfield"
                      div(class='scenario-element dropped textfield')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          input(type='text', disabled='disabled')
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "textarea"
                      div(class='scenario-element dropped textarea')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          textarea(disabled='disabled')
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "image"
                      div(class='scenario-element dropped image')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          button(disabled='disabled') Take a Snapshot
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "location"
                      div(class='scenario-element dropped location')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          button(disabled='disabled') Add Current Location
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "sound"
                      div(class='scenario-element dropped sound')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          button(disabled='disabled') Start Recording
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "video"
                      div(class='scenario-element dropped video')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          button(disabled='disabled') Start Recording
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "numerical"
                      div(class='scenario-element dropped numerical')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          input(type='number', disabled='disabled')
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', value=element.required)
                          span Required
                    when "date"
                      div(class='scenario-element dropped date')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          input(type='date', disabled='disabled')
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', element.required)
                          span Required
                    when "choice"
                      div(class='scenario-element dropped choice')
                        textarea(class='label', placeholder='Label') #{element.title}
                        br
                        .content.required
                          div.choices
                            - for choice in element.content
                              //- I don't know why square brackets are added around the "answer" string
                              //- Similar problem, but without solution, posted here 
                              //- http://stackoverflow.com/questions/27102222/node-js-express-mongo-db-posting-data-with-extra-square-brackets-in-json-ke
                              -var checked = choice["[correct]"] ==="true" ? "checked" : undefined;
                              div
                                input(type='checkbox', name='choice', checked=checked)
                                input(class='label', type='text', value=choice["[answer]"])
                                span.icon-trash
                          div(id='add-choice', class='button grey')
                            div.icon.icon-plus
                            | Add another choice
                        .required-switch
                          input(type='checkbox', checked=checked, name='required', element.required)
                          span Required
                    default
                      //- p The variable is #{element.type}
        //- Modal Dialog
        .modal(id='remove-screen-dialog', tabindex="-1", role="dialog", aria-labelledby="modal-label", aria-hidden="true")
          .modal-dialog.modal-sm
            .modal-content
              .modal-header
                button(type="button", class="close", data-dismiss="modal")
                  span(aria-hidden="true") &times;
                  span.sr-only Close
                h4.modal-title(id='modal-label') Delete this screen?
              .modal-body
                p Are you sure you want to delete 
                  b#remove-screen-title
                  | ?
              .modal-footer
                button(type="button", class="btn btn-default grey", data-dismiss="modal") Cancel
                button(id="remove-screen-button" type="button", class="btn btn-primary grey") Delete