//
  Created by joshy on 4/14/15.
extends mlearn4web_layout

append head
  link(href='/css/vendor/ng-sortable.min.css', rel='stylesheet')
  link(href='/css/vendor/ng-sortable.style.min.css', rel='stylesheet')
  link(href='/css/test/authoring_test.css', rel='stylesheet')

append body
  .container(style="background: #f5f5f5;")
    .page-header
      .row
        .col-xs-12
          #top-left
            a#back.cross(href='/cancel') Cancel
          #font(style='float: right')
            | Logged in as {user.username}
          br
          h1 Activities
          p.lead
            | Choose an activity to look at or create a new one
            a#bt_save.btn.btn-success.btn-lg(href='#', style='position: relative; float: right;') Save
  .container(style="background: #f5f5f5;", ng-app="authoringApp")
    .row
      .col-xs-2.screen-container(ng-controller="ScreenListCtrl")
        ul.list-group(data-as-sortable, data-ng-model='screens')
          div.list-group-item(ng-click="screenClick('information')", style="height:50px; padding-top:15px; margin-bottom:5px; ")
            span.glyphicon.glyphicon-info-sign(style="padding-right: 10px")
            | Information
          li(ng-repeat='item in screens', data-as-sortable-item)
            div.list-group-item(data-as-sortable-item-handle, ng-click="screenClick(item)", style="height:50px; padding-top:15px;")
              span.glyphicon.glyphicon-phone(style="padding-right: 10px")
              | {{item}}
      .col-xs-10.content-container
        div(style='background: grey')
          | Content
        .row
          .col-xs-9.screen-content
            div(style='background: blue')
              | Screen Content
          .col-xs-3.element-container(ng-controller="ElementListCtrl")
            ul.list-group(data-as-sortable, data-ng-model='elements')
              li(ng-repeat='item in elements', data-as-sortable-item)
                div.list-group-item(data-as-sortable-item-handle, style="height:50px; padding-top:15px;")
                  span.glyphicon(style="padding-right: 10px", ng-class='item.icon')
                  | {{item.type}}

append body_scripts
  script(src='/src/vendor/angular.min.js', type='text/javascript')
  script(src='/src/vendor/angular/ui-bootstrap-tpls-0.12.1.js', type='text/javascript')
  script(src='/src/vendor/angular/ng-sortable.min.js', type='text/javascript')
  script(src='/src/test/authoring_test.js', type='text/javascript')