extends layout

block header
  header
    .sticky-nav
      a#mobile-nav.menu-nav(href='#menu-nav')
      #logo
        a#goUp(href='#home-slider', title='Brushed | Responsive One Page Template') Brushed Template
      nav#menu
        ul#menu-nav
          li.current
            a(href='#home-slider') Home
          li
            a(href='#mLearn4web') mLearn4web
          li
            a(href='#authoring') Create a mobile app
          li
            a(href='#mobile') Go mobile
          li
            a(href='#visualization') Visualization
          li
            a(href='#contact') Contact


block page_mlearn
  //Our Work Section
  #mLearn4web.page
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title Mobile Learning goes web
            h3.title-description
              | Easily design, deploy, execute mobile learning tasks
      //End Title Page
      //Portfolio Projects
      .row
        .span3
          //Filter
          nav#options.work-nav
            ul#filters.option-set(data-option-key='filter')
              li.type-work The possibilities
              li
                a.selected(href='#filter', data-option-value='*') All
              li
                a(href='#filter', data-option-value='.design') Authoring
              li
                a(href='#filter', data-option-value='.photography') Mobile App
              li
                a(href='#filter', data-option-value='.vis') Visualization
              li
                a(href='#filter', data-option-value='.video') Video
          //End Filter
        .span9
          .row
            section#projects
              ul#thumbs
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/work/full/authoring1.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/authoring1.png', alt='Choose a scenario to edit or create a new one.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/work/full/authoring4.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/authoring4.png', alt='Add screens to a scenario. A screen represents the content that will be shown on a screen of a mobile device.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/work/full/authoring2.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/authoring2.png', alt='Add new tasks to multiple screens that represent the content of a mobile application.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.design
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Authoring', href='/img/main/work/full/authoring3.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/authoring3.png', alt='Save the scenario and automatically make it available as a mobile web-application')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.photography
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/work/full/mobile2.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/mobile2.png', alt='Choose a scenario to execute on a mobile device.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.photography
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/work/full/mobile1.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/mobile1.png', alt='Save generated data by the mobile application.')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.photography
                  //Fancybox - Gallery Enabled - Title - Full Image
                  a.hover-wrap.fancybox(data-fancybox-group='gallery', title='Mobile Application', href='/img/main/work/full/mobile3.png')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/mobile3.png', alt='Perform the previously designed learning tasks on a mobile device')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.video
                  //Fancybox Media - Gallery Enabled - Title - Link to Video
                  a.hover-wrap.fancybox-media(data-fancybox-group='video', title='LETS GO in action', href='http://vimeo.com/11739878')
                    span.overlay-img
                    span.overlay-img-thumb.font-icon-plus
                  //Thumb Image and Description
                  img(src='/img/main/work/thumbs/letsgo01.png', alt='Video')
                //End Item Project
                //Item Project and Filter Name
                li.item-thumbs.span3.vis
                  //Fancybox - Gallery Enabled - Title - Full Image
                      a.hover-wrap.fancybox(data-fancybox-group='gallery', title='The City', href='/img/work/full/image-01-full.jpg')
                          span.overlay-img
                          span.overlay-img-thumb.font-icon-plus
                      //Thumb Image and Description
                      img(src='/img/main/work/thumbs/image-01.jpg', alt='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.')
                //End Item Project
      //End Portfolio Projects
    //End Our Work Section


block page_authoring
  //Authoring Section
  #authoring.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title The Authoring Environment
            h3.title-description Design and deploy mobile applications that allow data collection
            h1
              //a(href='/letsgo4web') DESIGN IT!
            form(action='/letsgo4web')
              input.btn.btn-primary.btn-lg(type='submit', value='Design it!')
      //End Title Page
      //presentation
      .row
        //Start presentation1
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Create or Edit
            img(src='img/main/work/full/authoring1.png', alt='Create or Edit')
          h3.profile-name Create or edit
          p.profile-description
            | Create your own scenario or edit an existing one. Choose from a list of existing scenarios to start designing.
        //End presentation1
        //Start presentation2
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Add Screens
            img(src='/img/main/work/full/authoring4.png', alt='Add Screens')
          h3.profile-name Add screens
          p.profile-description
            | Add screens to your scenario. A screen defines the content that is displayed at the mobile device. You can add as many screens to your scenarios as you want and fill them with data collecting tasks.
        //End presentation2
        //Start presentation3
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Add tasks
            img(src='/img/main/work/full/authoring2.png', alt='Add Tasks')
          h3.profile-name Add tasks to your screens
          p.profile-description
            | After adding screens to your scenario, you can fill those screens with content. Choose from a list of possible tasks and drag them to a screen. You can add, delete and rearange your tasks. If you want a task in an other screen just drag it to that screen in the screen list.
        //End presentation3
      //End presentation
    //End Authoring Section


block page_mobile
  //Authoring Section
  #mobile.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title The mobile application
            h3.title-description Enter here to execute a previously designed scenario
            h1
              a(href='/mobile') MOBILE
      //End Title Page
      //Mobile
      .row
        //Start Choose
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Choose a scenario
            img(src='img/main/work/full/mobile2.png', alt='Choose a scenario')
          h3.profile-name Choose a scenario
          p.profile-description
            | Choose a scenario from a list of previously created ones. Scenarios that were designed by the authoring environment are available here.

        //End Choose
        //Start Execute
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Execute the previously designed tasks
            img(src='img/main/work/full/mobile3.png', alt='Execute the previously designed tasks')
          h3.profile-name Execute the previously designed tasks
          p.profile-description
            | Execute the tasks that were designed before by the authoring environment.
        //End Execute
        //Start Save
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb Save the data
            img(src='img/main/work/full/mobile1.png', alt='Save the data')
          h3.profile-name Save the data
          p.profile-description
            | Save the data that is collected during the execution of the tasks.
        //End Save
      //End Mobile
    //End Mobile Section


block page_visualization
  //Authoring Section
  #visualization.page-alternate
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title The visualization
            h3.title-description Visualize the data that is generated during the execution
            h1
              a(href='/visualization') Visualization
      //End Title Page
      //People
      .row
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb COMING SOON
            img(src='img/main/profile/profile-01.jpg', alt='Coming Soon')
          h3.profile-name Comming Soon
          p.profile-description

        //End Profile
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb COMING SOON
            img(src='/img/main/profile/profile-02.jpg', alt='Coming Soon')
          h3.profile-name Coming soon
          p.profile-description

        //End Profile
        //Start Profile
        .span4.profile
          .image-wrap
            .hover-wrap
              span.overlay-img
              span.overlay-text-thumb COMING SOON
            img(src='/img/main/profile/profile-03.jpg', alt='Coming Soon')
          h3.profile-name Coming soon
          p.profile-description

        //End Profile
      //End People
    //End Authoring Section


block page_contact
  //Contact Section
  #contact.page
    .container
      //Title Page
      .row
        .span12
          .title-page
            h2.title Get in Touch
            h3.title-description We’re currently accepting new client projects. We look forward to serving you.
      //End Title Page
      //Contact Form
      .row
        .span9
          form#contact-form.contact-form(action='#')
            p.contact-name
              input#contact_name(type='text', placeholder='Full Name', value='', name='name')
            p.contact-email
              input#contact_email(type='text', placeholder='Email Address', value='', name='email')
            p.contact-message
              textarea#contact_message(placeholder='Your Message', name='message', rows='15', cols='40')
            p.contact-submit
              a#contact-submit.submit(href='#') Send Your Email
            #response
        .span3
          .contact-details
            h3 Contact Details
            ul
              li
                | Janosch Zbick
              li
                a(href='#') janosch.zbick@lnu.se
              li
                | CeLeKT
                br
                | Linnaeus University
                br
                | Växjö, Sweden
      //End Contact Form
    //End Contact Section


block twitter
  //Twitter Feed
  //#twitter-feed.page-alternate
      .container
          .row
              .span12
                  .follow
                      a(href='https://twitter.com/', title='Follow Us on Twitter', target='_blank')
                          i.font-icon-social-twitter
                  #ticker.query
  //End Twitter Feed


block social
  //Social Media
  #social-area.page
    .container
      .row
        .span12
          nav#social
            ul
              li
                a(href='https://twitter.com/', title='Follow Us on Twitter', target='_blank')
                  span.font-icon-social-twitter
              li
                a(href='https://www.facebook.com/', title='Follow Us on Facebook', target='_blank')
                  span.font-icon-social-facebook
              li
                a(href='https://plus.google.com/', title='Follow Us on Google Plus', target='_blank')
                  span.font-icon-social-google-plus
    //End Social Media


block footer
  //Footer
  footer
    p.credits
      | ©2014 Janosch Zbick. A project from
      br
      a(href='http://www.celekt.info', title='CeLeKT | Center for Learning and Knowledge Technologies') CeLeKT
      br
      | at
      br
      a(href='http://www.lnu.se', title='Linnaeus University') Linnaeus University
  //End Footer