doctype html
html
  head
    block head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      title mLearn4web | Design and Execute mobile data collection applications
      meta(name='description', content='Insert Your Site Description')
      //Mobile Specifics
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='HandheldFriendly', content='true')
      meta(name='MobileOptimized', content='320')
      //Mobile Internet Explorer ClearType Technology
      //if IEMobile
        meta(http-equiv='cleartype', content='on')
      //Bootstrap
      link(href='/css/main/bootstrap.min.css', rel='stylesheet')
      //Main Style
      link(href='/css/main/main.css', rel='stylesheet')
      //Supersized
      link(href='/css/main/supersized.css', rel='stylesheet')
      link(href='/css/main/supersized.shutter.css', rel='stylesheet')
      //FancyBox
      link(href='/css/main/fancybox/jquery.fancybox.css', rel='stylesheet')
      //Font Icons
      link(href='/css/main/fonts.css', rel='stylesheet')
      //Shortcodes
      link(href='/css/main/shortcodes.css', rel='stylesheet')
      //Responsive
      link(href='/css/main/bootstrap-responsive.min.css', rel='stylesheet')
      link(href='/css/main/responsive.css', rel='stylesheet')
      //Supersized
      link(href='/css/main/supersized.css', rel='stylesheet')
      link(href='/css/main/supersized.shutter.css', rel='stylesheet')
      //Google Font
      link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900', rel='stylesheet', type='text/css')
      //Fav Icon
      link(rel='shortcut icon', href='#')
      link(rel='apple-touch-icon', href='#')
      link(rel='apple-touch-icon', sizes='114x114', href='#')
      link(rel='apple-touch-icon', sizes='72x72', href='#')
      link(rel='apple-touch-icon', sizes='144x144', href='#')
      //Modernizr
      script(src='/src/main/modernizr.js')

      //Js
      script(src='/lib/jquery-1.11.1.min.js')
      //jQuery Core
      script(src='/lib/bootstrap.min.js')
      //Bootstrap
      script(src='/src/main/supersized.3.2.7.min.js')
      //Slider
      script(src='/src/main/waypoints.js')
      //WayPoints
      script(src='/src/main/waypoints-sticky.js')
      //Waypoints for Header
      script(src='/src/main/jquery.isotope.js')
      //Isotope Filter
      script(src='/src/main/jquery.fancybox.pack.js')
      //Fancybox
      script(src='/src/main/jquery.fancybox-media.js')
      //Fancybox for Media
      script(src='/src/main/jquery.tweet.js')
      //Tweet
      script(src='/src/main/plugins.js')
      //Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi
      script(src='/src/main/main.js')
      //Default JS
      //End Js
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56096521-1', 'auto');
        ga('send', 'pageview');


  body
    block body
      //This section is for Splash Screen
      .ole
        section#jSplash
          #circle
      //End of Splash Screen
      //Homepage Slider
      #home-slider
        .overlay
        .slider-text
          #slidecaption
        .control-nav
          a#prevslide.load-item
            i.font-icon-arrow-simple-left
          a#nextslide.load-item
            i.font-icon-arrow-simple-right
          ul#slide-list
          a#nextsection(href='#mLearn4web')
            i.font-icon-arrow-simple-down
      //End Homepage Slider
      block header
        //Header
      block page_mlearn
        //presentation

      block page_authoring
        //access to the authoring tool

      block page_mobile
        //access to the mobile app

      block page_visualization
        //access to the visualization tool

      block page_contact
        //contact

      block twitter
        //twitter

      block social
        //social

      block footer
        //footer

      //Back To Top
      a#back-to-top(href='#')
        i.font-icon-arrow-simple-up
      //End Back to Top

