doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Login
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap-social.css')
    link(rel='stylesheet', href='/css/authoring/normalize.min.css')
    link(rel='stylesheet', href='/css/authoring/main.css')
    link(rel='stylesheet', href='/css/authoring/style.css')
    link(rel='stylesheet', href='/css/authoring/fontello.css')
    link(rel='stylesheet', href='/css/authentication/login.css')
    script(src='/src/vendor/modernizr-2.6.2.min.js')
    script(src='/lib/jquery-1.11.1.js')
    //JQUERY UI
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    //FORM VALIDATION PLUGIN
    script(src='/src/jquery.validate.js')
    //BOOTSTRAP
    script(src='/lib/bootstrap.js')
    //CUSTOM JS
    script(src='/src/main.js')
    body
        .wrapper
            .content
                #header
                    #top
                        a#home.cross(href='/') Home
                    if logout
                        h1 Logout
                    else
                        h1 Login
                #login-container
                    if logout
                        form.form-horizontal(action='/logout', role='form')
                            div.form-group
                                div.col-sm-12
                                    input.btn.btn-info.btn-block.btn-lg(type='submit', value='Log out')
                    else 
                        #login-socialmedia
                            .row
                                .col-sm-4
                                .col-sm-4
                                    .row
                                        .col-sm-4
                                            a.btn.btn-lg.btn-social-icon.btn-facebook(href='/auth/facebook')
                                                i.fa.fa-facebook
                                        .col-sm-4
                                            a.btn.btn-lg.btn-social-icon.btn-google-plus(href='/auth/google')
                                                i.fa.fa-google-plus
                                        .col-sm-4
                                            a.btn.btn-lg.btn-social-icon.btn-twitter(href='/auth/twitter')
                                                i.fa.fa-twitter
                                .col-sm-4
                        .text OR
                        #login-website
                            .row
                                if message
                                    #message
                                        .col-sm-12
                                            .text-danger #{message}    
                                form.form-horizontal(action='/auth/local', method='post', role='form')
                                    div.form-group
                                        div.col-sm-12
                                             .input-group
                                                span.input-group-addon
                                                    i.fa.fa-user
                                                input.form-control(type='text', name='username', placeholder='Username')
                                    div.form-group
                                        div.col-sm-12
                                             .input-group
                                                span.input-group-addon
                                                    i.fa.fa-lock
                                                input.form-control(type='password', name='password', placeholder='Password')
                                    div.form-group
                                        div.col-sm-12
                                            input.btn.btn-info.btn-block.btn-lg(type='submit', value='Log in')
                                #registrationlink
                                    .col-sm-12
                                        span Do you need an account? 
                                    .col-sm-12
                                        a(href='/register') Register here