doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='/ionic/lib/ionic/css/ionic.css', rel='stylesheet')
    link(href='/ionic/css/style.css', rel='stylesheet')
    // ionic/angularjs js
    script(src='ionic/lib/ionic/js/ionic.bundle.js')
    // your app's js
    script(src='ionic/js/app.js')
    script(src='ionic/js/controllers.js')
    script(src='ionic/js/services.js')
  body(ng-app='mobile')
    ion-nav-view
