doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // CSS
    link(href='/css/vendor/jquery.mobile-1.4.5.min.css', rel='stylesheet')
    link(href='/css/mobile.css', rel='stylesheet')
    // JQUERY
    script(src='/lib/jquery-1.11.1.js')
    // JS
    script(src='/src/mobile/jq/jq_act.js')
    script.
      var s = !{JSON.stringify(scenario)};
      var a = !{JSON.stringify(activity)};
      var c = !{JSON.stringify(coldata)};
  body
    div(data-role='page', id='activity', data-theme='a')
      div(data-role='header', data-position='fixed', data-tap-toggle='false')
        h1 #{activity.title}
      div(data-role='main', class='ui-content')
        ul#actlist(data-role='listview', data-inset='true')
          - var count = 0;
          for item in scenario.screenData
            -count++
            case count
              when 1
                li
                  if scenario._id == '5661637d337bfbbb656ec701'
                    a.actbt(id=count-1) Planejar
                  else
                    a.actbt(id=count-1 cid=scenario._id) Plan
              when 2
                li
                  if scenario._id == '5661637d337bfbbb656ec701'
                    a.actbt(id=count-1) Documentariter
                  else
                    a.actbt(id=count-1) Document
              when 3
                li
                  if scenario._id == '5661637d337bfbbb656ec701'
                    a.actbt(id=count-1) Reflectir
                  else
                    a.actbt(id=count-1) Reflect
              when 4
                li
                  if scenario._id == '5661637d337bfbbb656ec701'
                    a.actbt(id=count - 1) Classificació
                  else
                    a.actbt(id=count - 1) Rate

      div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
        h4 mLearn4web

    script(src='/lib/jquery.mobile-1.4.5.min.js')