doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Mobile Test
    link(href='/css/vendor/ionic.css', rel='stylesheet')
    link(href='/css/test/mobile.css', rel='stylesheet')
    // ionic/angularjs js
    script(src='/src/vendor/ionic.bundle.js')
    // your app's js
    script(src='/src/test/mobile/app.js')
    script(src='/src/test/mobile/controllers.js')
  body(ng-app='starter')
    ion-nav-view
                   