doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // CSS
    //link(href='/css/vendor/jquery.mobile-1.4.5.min.css', rel='stylesheet')
    link(href='/css/vendor/jquery.mobile-1.4.5.min.css', rel='stylesheet')
    link(href='/css/mobile.css', rel='stylesheet')
    // JQUERY
    //script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/lib/jquery-1.11.1.js')
    // JS
    script(src='/src/mobile/jq/jq.js')
    script.
      var activities =!{JSON.stringify(activities)};
  body
    div(data-role='page', id='mainscreen', data-theme='a')
      div(data-role='header', data-position='fixed', data-tap-toggle='false')
        h1 Available Scenarios

      div(data-role='main', class='ui-content')
        if message
          div(class='ui-bar ui-bar-a')= message
        ul#scenariolist(data-role='listview', data-filter='true', data-filter-placeholder='Search scenarios...', data-inset='true')
          for item in scenarios
            li(data-icon='false')
              a.btgoactlist(id=item.id) #{item.title}


      div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
        h4 mLearn4web

    div(data-role='page', id='actlist', data-theme='a', data-add-back-btn="true")
      div(data-role='header', data-position='fixed', data-tap-toggle='false')
        a(href="#", data-icon="back", data-rel="back", title="back") Back
        h1 Activities

      div(data-role='main', class='ui-content')
        if message
          div(class='ui-bar ui-bar-a')= message
        ul#alist(data-role='listview', data.ajax="false", data-inste="true", data-filter='true', data-filter-placeholder='Search activities...', data-inset='true')
          //for item in activities
          //  li(data-icon='false')
          //    a(href='/mobile/activity/#{item._id}', id=item._id, scenario=item.scenarioId) #{item.title}
          li(data-icon='plus', data-theme="b")
            a(href='#popupDialog', data-rel='popup', data-position-to='window', data-transition='pop') New Activity
          #popupDialog(data-role='popup', data-overlay-theme='a', data-theme='a', data-dismissible='false', style='max-width:400px;')
            div(data-role='header', data-theme='a')
              h1 New Activity
            .ui-content(role='main')
              h3.ui-title How do you want to name your activity?
              input#title(type='text', name='title', value='')
              a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a(href='#', data-rel='back') Cancel
              a#okbtn.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a(href='#') OK
      div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
        h4 mLearn4web


    script(src='/lib/jquery.mobile-1.4.5.min.js')