doctype html
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // CSS
    link(href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css', rel='stylesheet')
    link(href='/css/mobile.css', rel='stylesheet')

    // JQUERY
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')

    // JQUERY TABLESORTER PLUGIN
    link(rel='stylesheet', href='/lib/tablesorter/css/style.css')
    script(src='/lib/tablesorter/jquery.tablesorter.min.js')

    // JS
    script(src='/src/mobile-list.js')

body
    div(data-role='page', id='mainscreen', data-theme='a')
        div(data-role='header', data-position='fixed', data-tap-toggle='false')
            h1 Available Scenarios
        div(data-role='main', class='ui-content')
            if message
                div(class='ui-bar ui-bar-a')= message
            table(class='tablesorter ui-responsive', data-role='table', data-mode='columntoggle')
                thead
                  tr
                    th(data-priority='1') Name
                    th(data-priority='2') Author
                    th(data-priority='4') Created at
                    th(data-priority='3') Last modified
                tbody
                  - var d = null
                  - var dateString = null
                  for item in scenarios
                    if item.hidden != true
                      tr
                        td
                          a(href='/mobile/#{item._id}', class='ui-btn', data-ajax='false') #{item.title}
                          //a.list-group-item(href='/mobile/#{item._id}', data-id='#{item._id}', data-title='#{item.title}') #{item.title}
                        td
                          if item.user
                            | #{item.user.username}
                        - d = new Date(item.createdAt)
                        - dateString = d.toDateString()
                        td= dateString
                        - d = new Date(item.lastModified)
                        - dateString = d.toDateString()
                        td= dateString
                        - d = null
                        - dateString = null
            //- div(data-role='controlgroup', data-type='vertical')
            //-     for item in scenarios
            //-         a(href='/mobile/#{item._id}', class='ui-btn', data-ajax='false')
            //-             div #{item.title}
            //-                 if item.user
            //-                     div
            //-                         small #{item.user.username}
        div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
            h4 mLearn4web
    script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')