- var numElements = 0
doctype html
html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  // CSS
  link(href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css', rel='stylesheet')
  //style(type='text/css') .hidden-input { visibility:hidden; position:absolute; top:-50px; left:-50px; }
  link(href='/css/mobile.css', rel='stylesheet')
  // JS
  script(src='/lib/jquery-1.11.1.js')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src='/lib/jsqrcodescanner/version.js')
  script(src='/lib/jsqrcodescanner/grid.js')
  script(src='/lib/jsqrcodescanner/detector.js')
  script(src='/lib/jsqrcodescanner/formatinf.js')
  script(src='/lib/jsqrcodescanner/errorlevel.js')
  script(src='/lib/jsqrcodescanner/bitmat.js')
  script(src='/lib/jsqrcodescanner/datablock.js')
  script(src='/lib/jsqrcodescanner/bmparser.js')
  script(src='/lib/jsqrcodescanner/datamask.js')
  script(src='/lib/jsqrcodescanner/rsdecoder.js')
  script(src='/lib/jsqrcodescanner/gf256poly.js')
  script(src='/lib/jsqrcodescanner/gf256.js')
  script(src='/lib/jsqrcodescanner/decoder.js')
  script(src='/lib/jsqrcodescanner/QRCode.js')
  script(src='/lib/jsqrcodescanner/findpat.js')
  script(src='/lib/jsqrcodescanner/alignpat.js')
  script(src='/lib/jsqrcodescanner/databr.js')
  script(src='/lib/jsqrcodescanner/camera.js')
  script.
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
      a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-56096521-1', 'auto');
    ga('send', 'pageview');
body
  if message
    div(class='ui-bar ui-bar-a')= message
  form(action='/mobile/savedata', method='post', enctype='multipart/form-data', name='collectedData', data-ajax='false')
    input(id='scenarioid', name='scenarioid', class='hidden-input', data-role='none' value=scenario._id)
    div(data-role='page', id='mainscreen', data-theme='a')
      div(data-role='header', data-position='fixed', data-tap-toggle='false')
        h1= scenario.title
      div(data-role='main', class='ui-content')
        if scenario.type
          div= 'Type: ' + scenario.type
        if scenario.description
          div= 'Description: ' + scenario.description
        if scenario.startDate
          div= 'Date: ' + scenario.startDate
        div(data-role='fieldcontain')
          label(for='gn') Group name:
            small(class='lbl-required')  (required)
          input(type='text', id='gn', name='gn', class='required')
      div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
        h4 mLearn4web
        if scenario.screenData.length > 0
          a(href='#screen1', class='ui-btn ui-btn-b ui-icon-arrow-r ui-btn-icon-notext ui-btn-right ui-corner-all ui-shadow', data-transition='slide') Next
    - for (var i = 1; i <= scenario.screenData.length; i++)
    div(data-role='page', id='screen' + i, data-theme='a')
      div(data-role='header', data-position='fixed', data-tap-toggle='false')
        h1= scenario.title
      div(data-role='main', class='ui-content')
        - for (var j = 0; j < scenario.screenData[i-1].screenElements.length; j++)
        - var id = 'screen' + i + '_';
        - var elem = scenario.screenData[i-1].screenElements[j]
        - var required = ''
        if elem.required === 'true'
          - required = 'required'
        - numElements = numElements + 1
        case elem.type
          when 'instruction'
            - id += 'in' + numElements
            div(data-role='fieldcontain')
              label(for=id)
                i= elem.title
              //div= elem.title
          when 'textfield'
            - id += 'tf' + numElements
            div(data-role='fieldcontain')
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              input(type='text', id=id, name=id, class=required)
          when 'date'
            - id += 'df' + numElements
            div(data-role='fieldcontain')
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              input(type='date', id=id, name=id, class=required)
          when 'numerical'
            - id += 'nf' + numElements
            div(data-role='fieldcontain')
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              input(type='number', id=id, name=id, class=required)
          when 'textarea'
            - id += 'ta' + numElements
            div(data-role='fieldcontain')
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              textarea(id=id, name=id, class=required)
          when 'choice'
            - id += 'cb' + numElements
            div(data-role='fieldcontain')
              fieldset
                legend(for=id)= elem.title
                if required
                  small(class='lbl-required')  (required)
                - for (var k = 0; k < elem.content.length; k++)
                //- I don't know why square brackets are added around the "answer" string
                //- Similar problem, but without solution, posted here
                //- http://stackoverflow.com/questions/27102222/node-js-express-mongo-db-posting-data-with-extra-square-brackets-in-json-ke
                input(type='checkbox', id=id + '' + k, name=id, value=elem.content[k]["[answer]"], class=required)
                label(for=id + '' + k)= elem.content[k]["[answer]"]
          when 'image'
            div(data-role='fieldcontain')
              - id += 'ci' + numElements
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              a(id=id + 'link', class='ui-btn') Take a Snapshot
              input(id=id, name=id, class='captureimage hidden-input ' + required, data-role='none', type='file', accept='image/*', capture='camera')
              label(for=id + 'textfield', class='invisible')
              input(id=id + 'textfield', type='text', disabled)
              div(id=id + 'preview', class='image-preview-container ui-body-inherit')
                image(id=id + 'image', class='image-preview', alt='No image selected')
          when 'video'
            div(data-role='fieldcontain')
              - id += 'cv' + numElements
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              a(id=id + 'link', class='ui-btn') Make a Video
              input(id=id, name=id, class='capturevideo hidden-input ' + required, data-role='none', type='file', accept='video/*', capture='camcorder')
              label(for=id + 'textfield')
              input(id=id + 'textfield', type='text', disabled)
          when 'sound'
            div(data-role='fieldcontain')
              - id += 'ca' + numElements
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              a(id=id + 'link', class='ui-btn') Start Recording
              input(id=id, name=id, class='captureaudio hidden-input ' + required, data-role='none', type='file', accept='audio/*', capture='microphone')
              label(for=id + 'textfield')
              input(id=id + 'textfield', type='text', disabled)
          when 'location'
            div(data-role='fieldcontain')
              - id += 'cl' + numElements
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              a(id=id + 'link', class='ui-btn') Add Current Location
              input(id=id, name=id, class='capturegeolocation hidden-input ' + required, data-role='none', type='text')
              label(for=id + 'textfield')
              input(id=id + 'textfield', type='text', disabled)
              div(class='map-container')
                div(id=id + 'map', class='map')
          when 'orientation'
            div(data-role='fieldcontain')
              - id += 'co' + numElements
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              a(id=id + 'link', class='ui-btn') Capture Device Orientation
              input(id=id, name=id, class='captureorientation hidden-input  ' + required, data-role='none', type='text')
              label(for=id + 'textfield1')
              input(id=id + 'textfield1', type='text', disabled)
              label(for=id + 'textfield2')
              input(id=id + 'textfield2', type='text', disabled)
              label(for=id + 'textfield3')
              input(id=id + 'textfield3', type='text', disabled)
          when 'qrreader'
            div(data-role='fieldcontain')
              - id += 'qr' + numElements
              label(for=id)= elem.title
              if required
                small(class='lbl-required')  (required)
              a(id=id + 'link', class='ui-btn') Start Scanning
              input(id=id, name=id, class='captureqr hidden-input ' + required, data-role='none', type='text')
              label(for=id + 'textfield')
              input(id=id + 'textfield', type='text', disabled)
              label(for=id + 'video')
              video(id=id + 'video', width='320', height='240', style='visibility:hidden') QR-Reader not supported by your browser.
              canvas(id=id + 'canvas', width='320', height='240', style='display:none')
      div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
        if i == 1
          a(href='#mainscreen', class='ui-btn ui-btn-b ui-icon-arrow-l ui-btn-icon-notext ui-btn-left ui-corner-all ui-shadow', data-rel='back', data-transition='slide') Back
        else
          - var prevId = i - 1
          a(href='#screen' + prevId, class='ui-btn ui-btn-b ui-icon-arrow-l ui-btn-icon-notext ui-btn-left ui-corner-all ui-shadow', data-rel='back', data-transition='slide') Back
        h4 mLearn4web
        if i < scenario.screenData.length
          - var nextId = i + 1
          a(href='#screen' + nextId, class='ui-btn ui-btn-b ui-icon-arrow-r ui-btn-icon-notext ui-btn-right ui-corner-all ui-shadow', data-transition='slide') Next
        if i == scenario.screenData.length
          a(href='#submitscreen', class='ui-btn ui-btn-b ui-icon-arrow-r ui-btn-icon-notext ui-btn-right ui-corner-all ui-shadow', data-transition='slide') Next
    div(data-role='page', id='submitscreen', data-theme='a')
      div(data-role='header', data-position='fixed', data-tap-toggle='false')
        h1 Upload Data
      div(data-role='main', class='ui-content')
        input(id='submit-btn', type='submit', value='Submit')
        div(data-role='popup', id='invalid-input-popup', class='ui-content', data-theme='b')
          a(href='#', data-rel='back', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right') Close
          p Please fill out all required elements!
      div(data-role='footer', class='footer', data-position='fixed', data-tap-toggle='false')
        if scenario.screenData.length > 0
          a(href='#screen' + scenario.screenData.length, class='ui-btn ui-btn-b ui-icon-arrow-l ui-btn-icon-notext ui-btn-left ui-corner-all ui-shadow', data-rel='back', data-transition='slide') Back
        else
          a(href='#mainscreen', class='ui-btn ui-btn-b ui-icon-arrow-l ui-btn-icon-notext ui-btn-left ui-corner-all ui-shadow', data-rel='back', data-transition='slide') Back
        h4 mLearn4web
  script(src='/src/mobile.js')
  script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')