doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Registration
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap-social.css')
    link(rel='stylesheet', href='/css/authoring/normalize.min.css')
    link(rel='stylesheet', href='/css/authoring/main.css')
    link(rel='stylesheet', href='/css/authoring/style.css')
    link(rel='stylesheet', href='/css/authoring/fontello.css')
    link(rel='stylesheet', href='/css/authentication/registration.css')
    script(src='/src/vendor/modernizr-2.6.2.min.js')
    script(src='/lib/jquery-1.11.1.js')
    //JQUERY UI
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    //FORM VALIDATION PLUGIN
    script(src='/src/jquery.validate.js')
    //BOOTSTRAP
    script(src='/lib/bootstrap.js')
    //CUSTOM JS
    script(src='/src/main.js')
    body
        .wrapper
            .content
                #header
                    #top
                        a#home.cross(href='/') Home
                    h1 Registration
                #registration-container
                  .row
                      if message
                          #message
                              .col-sm-12
                                  .text-danger #{message}    
                      form.form-horizontal(action='/register/newuser', method='post', role='form')
                          div.form-group
                              div.col-sm-12
                                   .input-group
                                      span.input-group-addon
                                          i.fa.fa-user
                                      input.form-control(type='text', name='username', placeholder='Username')
                          div.form-group
                              div.col-sm-12
                                   .input-group
                                      span.input-group-addon
                                          i.fa.fa-lock
                                      input.form-control(type='password', name='password', placeholder='Password')
                          div.form-group
                              div.col-sm-12
                                   .input-group
                                      span.input-group-addon
                                          i.fa.fa-lock
                                      input.form-control(type='password', name='password2', placeholder='Confirm Password')
                          div.form-group
                              div.col-sm-12
                                  input.btn.btn-info.btn-block.btn-lg(type='submit', value='Register')
                      #loginlink
                          .col-sm-12
                              span Do you have already an account? 
                          .col-sm-12
                              a(href='/login') Login here