doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Scenarios
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/authoring/normalize.min.css')
    link(rel='stylesheet', href='/css/authoring/main.css')
    link(rel='stylesheet', href='/css/authoring/style.css')
    link(rel='stylesheet', href='/css/authoring/scenarios.css')
    link(rel='stylesheet', href='/css/authoring/fontello.css')
    script(src='/src/vendor/modernizr-2.6.2.min.js')
    script(src='/lib/jquery-1.11.1.js')
    script(src='/lib/bootstrap.js')
    //JQUERY UI
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    //FORM VALIDATION PLUGIN
    script(src='/src/jquery.validate.js')
    //JQUERY TABLESORTER PLUGIN
    link(rel='stylesheet', href='/lib/tablesorter/css/style.css')
    script(src='/lib/tablesorter/jquery.tablesorter.min.js')
    //JQUERY QRCODE PLUGIN
    script(src='/lib/jquery.qrcode.min.js')
    //CUSTOM JS
    script(src='/src/main.js')
    script(src='/src/scenarios.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56096521-1', 'auto');
      ga('send', 'pageview');
    body
      #user(uid=user.id)
      //if lt IE 7
          p.chromeframe
              | You are using an
              strong outdated
              | browser. Please
              a(href='http://browsehappy.com/') upgrade your browser
              | or
              a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
              | to improve your experience.
      .wrapper
        .content
          #header
            #top-left
              a#back.cross(href='/') Back
            #top
              #username Logged in as #{user.username}
              a#logout.cross(href='/logout') Logout
            h1 Scenarios
            a#bt_new(href='/letsgo4web/new')
              .button.green
                .icon.icon-plus
                | New Scenario
          #scenarios
            h3 Your scenarios
            h4 Choose a scenario to edit
            #slist.list-group
              table.tablesorter
                thead
                  tr
                    th Name
                    th Created at
                    th Last modified
                    th QR Code
                    th Hidden
                    th Remove
                tbody
                  - var d = null
                  - var dateString = null
                  for item in scenarios
                    tr(data-id='#{item._id}', data-title='#{item.title}')
                      td
                        a.list-group-item(href='/letsgo4web/#{item._id}') #{item.title}
                      - d = new Date(item.createdAt)
                      - dateString = d.toDateString()
                      td= dateString
                      - d = new Date(item.lastModified)
                      - dateString = d.toDateString()
                      td= dateString
                      - d = null
                      - dateString = null
                      td
                        button.qrcode(type="button", class="btn", data-toggle="modal", data-target="#qrCodeModal", data-url="#{baseUrl}/#{item._id}", data-title="#{item.title}")
                          span(class="glyphicon glyphicon-qrcode", aria-hidden="true")
                      td
                        if item.hidden != true
                          button.hide-scenario(sid="#{item.id}")
                            span.glyphicon.glyphicon-remove
                        else
                          button.unhide-scenario(sid="#{item.id}")
                            span.glyphicon.glyphicon-ok
                      td
                        button.remove-scenario(data-toggle="modal", data-target="#remove-scenario-dialog")
                          span.icon-trash
          #no-scenarios.guide
            | It seems like you haven't created any scenarios yet, click on
            em New Scenario
            | to start
          #arrow.guide
          #otherScenarios
            h3 Scenarios created by other users
            h4 Choose a scenario to edit
            #slist.list-group
              table.tablesorter
                thead
                  tr
                    th Name
                    th Created at
                    th Last modified
                    th Author
                tbody
                  - var d = null
                  - var dateString = null
                  for item in otherScenarios
                    tr
                      td
                        a.list-group-item(href='/letsgo4web/#{item._id}', data-id='#{item._id}', data-title='#{item.title}') #{item.title}    
                      - d = new Date(item.createdAt)
                      - dateString = d.toDateString()
                      td= dateString
                      - d = new Date(item.lastModified)
                      - dateString = d.toDateString()
                      td= dateString
                      - d = null
                      - dateString = null
                      td 
                        if item.user
                          | #{item.user.username}
                      //- td
                      //-   button.remove-scenario(data-toggle="modal", data-target="#remove-scenario-dialog")
                      //-     span.icon-trash
              //- for item in otherScenarios
              //-   a.list-group-item(href='/letsgo4web/#{item._id}')
              //-     div #{item.title}
              //-     if item.user
              //-       div
              //-         small #{item.user.username}
          //- #loading
          // Modal Dialog
          .modal(id='remove-scenario-dialog', tabindex="-1", role="dialog", aria-labelledby="modal-label", aria-hidden="true")
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button(type="button", class="close", data-dismiss="modal")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                  h4.modal-title(id='modal-label') Delete the Scenario?
                .modal-body
                  p The scenario 
                    b#remove-scenario-title
                    |  will be permanently deleted and cannot be recovered. Are you sure?
                .modal-footer
                  button(type="button", class="btn btn-default", data-dismiss="modal") Cancel
                  button(id="remove-scenario-button" type="button", class="btn btn-primary") Delete
          .modal(class="fade", id="qrCodeModal", tabindex="-1", role="dialog", aria-labelledby="qrCodeModalLabel", aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-header
                  button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                  h4.modal-title(id="qrCodeModalLabel") QR Code
                .modal-body
                  div.qrcode
                .modal-footer
                  button(type="button", class="btn btn-default", data-dismiss="modal") Close
                  button.print(type="button", class="btn btn-primary") Print
        .print-content
          .title
          div.qrcode QR code was not loaded properly... Please try again!