//
   Created by joshy on 12/9/14.
doctype html
html
  head
    block head
      meta(charset='UTF-8')
      title mLearn4web | Visualization
      meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
      link(href='/css/visualization/bootstrap/bootstrap.min.css', rel='stylesheet')
      link(href='/css/visualization/fontawesome/font-awesome.min.css', rel='stylesheet')
      // Ionicons
      link(href='/css/visualization/ionicons/ionicons.min.css', rel='stylesheet')
      // Date Picker
      //link(href='/css/visualization/datepicker/datepicker3.css', rel='stylesheet', type='text/css')
      // Daterange picker
      //link(href='/css/visualization/daterangepicker/daterangepicker-bs3.css', rel='stylesheet', type='text/css')
      // Theme style
      link(href='/css/visualization/AdminLTE.css', rel='stylesheet', type='text/css')
      // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      // WARNING: Respond.js doesn't work if you view the page via file://
      //if lt IE 9
        script(src='js/plugins/response/html5shiv.min.js', type='text/javascript')
        |
        script(src='js/plugins/response/response.min.js', type='text/javascript')
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56096521-1', 'auto');
        ga('send', 'pageview');

        var groupnames =!{JSON.stringify(groupnames)};
        var scenariodata = !{JSON.stringify(data)};
        var scenario =!{JSON.stringify(scenario)};
        var scenarioID =!{JSON.stringify(scenario.id)};
body.skin-blue(ng-app="Visualization")
  block header
  .wrapper.row-offcanvas.row-offcanvas-left(ng-controller="VisCtrl")
    block content
      aside.right-side
        block right-side
      aside.left-side.sidebar-offcanvas
        block left-side

  block body
