doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Visualization - Scenarios
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/authoring/font.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/authoring/normalize.min.css')
    link(rel='stylesheet', href='/css/authoring/main.css')
    link(rel='stylesheet', href='/css/authoring/style.css')
    link(rel='stylesheet', href='/css/authoring/fontello.css')
    script(src='/src/vendor/modernizr-2.6.2.min.js')
    script(src='/lib/jquery-1.11.1.js')
    //JQUERY UI
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    //FORM VALIDATION PLUGIN
    script(src='/src/jquery.validate.js')
    //BOOTSTRAP
    script(src='/lib/bootstrap.js')
    //CUSTOM JS
    script(src='/src/main.js')
    body
        //if lt IE 7
            p.chromeframe
                | You are using an
                strong outdated
                | browser. Please
                a(href='http://browsehappy.com/') upgrade your browser
                | or
                a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
                | to improve your experience.
        .wrapper
            .content
                #header
                    #top-left
                        a#cancel.cross(href='/') Back
                    #top
                        //#username Logged in as #{user.username}
                        //a#logout.cross(href='/logout') Logout
                    h1 Visualization
                #scenarios
                    h3 Your scenarios
                    h4 Choose a scenario to visualize
                    #slist.list-group
                        for item in scenarios
                            a.list-group-item(href='/visualization/#{item._id}') #{item.title}
                #no-scenarios.guide
                    | It seems like you haven't created any scenarios yet. Use the
                    em 
                        a(href='/letsgo4web') Authoring-Tool
                    | to create a scenario
                #arrow.guide
                //#loading