extends vis_layout
append head
  //script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBdUO4IupvYhgqmQyTUkCHlIewdYpOCWHM')
  link(href='/css/visualization/style.css', rel='stylesheet', type='text/css')
  script(src='/lib/jquery-1.11.1.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/src/visualization/js/plugins/d3-timeline/d3-timeline.js')
  script(src='/src/visualization/graphs.js')

block header
  header.header
    //a#back.cross(href='/') Back
    a.logo(href='/visualization')
      | back
    nav.navbar.navbar-static-top(role='navigation')
      a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-right
        ul.nav.navbar-nav
          li.dropdown.user.user-menu
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.glyphicon.glyphicon-user
              span
                | #{user.username}
                i.caret
            ul.dropdown-menu
              li.user-header.bg-light-blue
                p
                  | #{user.username}
                  small #{user.username}
              li.user-footer
                .pull-right
                  a.btn.btn-default.btn-flat(href='/logout') Sign out

block right-side
  section.content-header
    h1
      | Visualization
      small #{scenario.title}
  section.content
    .row
      section.col-lg-7.connectedSortable
        .nav-tabs-custom
          ul.nav.nav-tabs.pull-right
            li.active
              a(href="{{'#screen0_tab1'}}", data-toggle='tab') Timeline
            li.pull-left.header
              i.fa.fa-inbox
              | General
          .tab-content.no-padding
            .chart.tab-pane.active(id="{{'screen0_tab1'}}", style='position: relative;')
              .timeline(id="{{'timeline_' + ($index + 1)}}")
      section.col-lg-7.connectedSortable(ng-repeat="item in screens")
        .nav-tabs-custom
          ul.nav.nav-tabs.pull-right
            li(ng-if='hasMarkers($index)', ng-class="hasMarkers($index) ? 'active' : ''")
              a(href="{{'#screen' + ($index + 1) + '_tab1'}}", data-toggle='tab') Map
            li(ng-if='hasGraph($index)', ng-class="!hasMarkers($index) && hasGraph($index) ? 'active' : ''")
              a(href="{{'#screen' + ($index + 1) + '_tab2'}}", data-toggle='tab') Graph
            li(ng-if='hasMedia($index)', ng-class="!hasMarkers($index) && !hasGraph($index) && hasMedia($index) ? 'active' : ''")
              a(href="{{'#screen' + ($index + 1) + '_tab3'}}", data-toggle='tab') Media
            li(ng-if='hasText($index)', ng-class="!hasMarkers($index) && !hasGraph($index) && !hasMedia($index) && hasText($index) ? 'active' : ''")
              a(href="{{'#screen' + ($index + 1) + '_tab4'}}", data-toggle='tab') Text
            li.pull-left.header
              i.fa.fa-inbox
              //| {{ item }}

          .tab-content.no-padding
            .chart.tab-pane(id="{{'screen' + ($index + 1) + '_tab1'}}", style='position: relative;', ng-class="hasMarkers($index) ? 'active' : ''")
              ui-gmap-google-map(center='getCenter($index)', zoom='1', bounds='getBounds($index)', style='height: 300px;')
                ui-gmap-markers(models='getMarkers($index)', coords="'self'", icon="'icon'", fit="'true'")
                  //- , ng-cloak=''
                  //- ui-gmap-marker(ng-repeat='m in getMarkers($index)', coords="m.coords", fit="'true'", idkey="m.id")
                  ui-gmap-windows(show="'showWindow'", closeclick="'closeClick'", ng-cloak='') 
                    div(class='infowindow', ng-non-bindable) {{ value }}
            .chart.tab-pane(id="{{'screen' + ($index + 1) + '_tab2'}}", style='position: relative;', ng-class="!hasMarkers($index) && hasGraph($index) ? 'active' : ''")
              //- | Here comes the graph
              .graph(id="{{'graph_' + ($index + 1)}}")
            .chart.tab-pane(id="{{'screen' + ($index + 1) + '_tab3'}}", style='position: relative;', ng-class="!hasMarkers($index) && !hasGraph($index) && hasMedia($index) ? 'active' : ''")
              //- | Here comes the graph
              .media(id="{{'media_' + ($index + 1)}}")
                div(class='media-item-container', ng-repeat="obj in getMedia($index)")
                  div Group: {{obj.group}}
                  div(ng-switch="obj.type", class='media-item')
                    img(ng-switch-when="image", ng-src="{{obj.value}}")
                    video(ng-switch-when="video", controls)
                      source(ng-src="{{obj.value}}")
                      | Your browser does not support the video element.
                    audio(ng-switch-when="audio", controls)
                      source(ng-src="{{obj.value}}")
                      | Your browser does not support the audio element.
                div(class="clean")
            .chart.tab-pane(id="{{'screen' + ($index + 1) + '_tab4'}}", style='position: relative;', ng-class="!hasMarkers($index) && !hasGraph($index) && !hasMedia($index) && hasText($index) ? 'active' : ''")
              .text(id="{{'text_' + ($index + 1)}}")
                div(class='text-item', ng-repeat="obj in getText($index)")
                  div 
                    b Group: {{obj.group}}
                  div {{obj.text}}
                div(class="clean")
                      //- //.row
                      //- //  section.col-lg-5.connectedSortable
                      //- //    .box.box-solid.bg-teal-gradient
                      //- //      .box-header
                      //- //        i.fa.fa-th
                      //- //        h3.box-title Sales Graph
                      //- //        .box-tools.pull-right
                      //- //          button.btn.bg-teal.btn-sm(data-widget='collapse')
                      //- //            i.fa.fa-minus
                      //- //          button.btn.bg-teal.btn-sm(data-widget='remove')
                      //- //            i.fa.fa-times
                      //- //      .box-body.border-radius-none
                      //- //        #line-chart.chart(style='height: 250px;')
block left-side
  section.sidebar
    .user-panel
      .pull-left.info
        p Hello, #{user.username}
    form.sidebar-form()
      .input-group
        input.form-control(type='text', name='q', ng-model='gsearch', placeholder='Search...')
        span.input-group-btn
          button#search-btn.btn.btn-flat(type='submit', name='search')
            i.fa.fa-search
    ul.sidebar-menu
      li.treeview
        a(href='#')
          i.fa.fa-folder
          span Groups
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(id='gr_all', href='#', ng-click='chooseGroup("all")')
              i.fa.fa-angle-double-right
              | All
          li(ng-repeat="item in groups | filter:gsearch")
            a(id='gr_{{item}}', href='#', ng-click='chooseGroup(item)')
              i.fa.fa-angle-double-right
              | {{item}}
      //
      //li
      //  a(href='#')
      //    i.fa.fa-dashboard
      //    span Dashboard
      //li
      //  a(href='#')
      //    i.fa.fa-th
      //    span Widgets



append body
  script(src='/src/visualization/js/plugins/angular/angular.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/angular/lodash.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/angular/angular-google-maps.min.js', type='text/javascript')

  script(src='/src/visualization/js/plugins/jquery/jquery-2.1.1.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/bootstrap/bootstrap.min.js', type='text/javascript')
  script(src='/src/visualization/js/plugins/jquery/jquery-ui.min.js', type='text/javascript')

  script(src='/src/visualization/js/AdminLTE/app.js', type='text/javascript')
  script(src='/src/visualization/js/AdminLTE/dashboard.js', type='text/javascript')
  script(src='/src/visualization/js/AdminLTE/visualization.js', type='text/javascript')
