.hidden-input { 
	visibility:hidden; 
	position:absolute; 
	top:-50px; 
	left:-50px; 
}

.invalid-input {
	border: 3px solid red !important;
}

.ui-title {
    margin: 0 10% !important;
}

.ui-checkbox {
	width: 78%;
	float: right;
	margin: 0;
}

.ui-content table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.ui-content table th {
	text-align: center;
}

.ui-content table td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
	margin: 0;
}

.ui-content table td:nth-child(1) {
	width: 39%;
} 

.ui-content table td:nth-child(2) {
	width: 20%;
}

.ui-content table td:nth-child(3) {
	width: 20%;
}

.ui-content table td:nth-child(4) {
	width: 20%;
}

.ui-content table a {
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    margin-bottom: -1px;
    padding: 11px 15px;
    position: relative;
}

.ui-content table a:hover, .ui-content table a:focus {
	background-color: #f5f5f5;
    color: #555;
    border: 1px dotted #ddd;
}

.image-preview-container {
    /*margin-top: 10px;*/
    padding-top: 10px;
    width: 100%;
    height: 110px;
    text-align: center;
    float: right !important;
    background-color: #f9f9f9 !important;
}

.image-preview {
	width: 100px;
	height: 100px;
	line-height: 50px;
	font-style: italic;
	vertical-align: middle;
	background-color: #e9e9e9; 
}

.map-container {
	width: 100%;
	height: 7em;
	margin: 10px 0;
    padding: 0;
    position: relative;
}

.map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/**** TABLE ****/
table.tablesorter td {
	border: none;
	text-align: center;
	vertical-align: middle;
}

table.tablesorter tr {
	/*border: #f6f6f6 1px solid;*/
}

.ui-mobile label.invisible {
	visibility: hidden;
	position: absolute;
	top: -50;
	left: -50;
}


@media all and (min-width: 48.1em) {
	.ui-field-contain > label ~ [class*="ui-"] {
		float: right !important;
	}
}

input[disabled], textarea[disabled],
select[disabled='disabled']{
   -webkit-text-fill-color: rgba(0, 0, 0, 1); 
   -webkit-opacity: 1; 
   color: rgba(0, 0, 0, 1); 
}