#header {
	margin-bottom: 100px;
}

.text {
	margin-top: 20px;
	margin-bottom: 20px;
}

#message {
	margin-bottom: 30px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-group-addon {
	border-radius: 10px;
}


