<ion-view view-title={{scenario.title}}>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="activities in scenario.screenData" ng-href="#/app/scenarios/{{scenario._id}}/{{$index}}">
        <div ng-if="$index == 0">
          Plan
          <span ng-if="badges.plan.length == 0" class="badge badge-assertive">{{badges.plan.length}}</span>
          <span ng-if="badges.plan.length > 0 " class="badge badge-balanced">{{badges.plan.length}}</span>
        </div>
        <div ng-if="$index == 1">
          Build
          <span ng-if="badges.document.length == 0" class="badge badge-assertive">{{badges.document.length}}</span>
          <span ng-if="badges.document.length > 0" class="badge badge-positive">{{badges.document.length}}</span>
        </div>
        <div ng-if="$index == 2">
          Reflect
          <span ng-if="badges.reflect.length == 0" class="badge badge-assertive">{{badges.reflect.length}}</span>
          <span ng-if="badges.reflect.length > 0" class="badge badge-balanced">{{badges.reflect.length}}</span>
        </div>
        <div ng-if="$index == 3">
          Rate
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
