<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Groupname</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGroup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="changeGroupname()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Groupname</span>
          <input type="text" ng-model="pelars.groupname">
        </label>
        <label class="item item-input">
          <span class="input-label">PELARS ID</span>
          <input type="number" ng-model="pelars.id">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Change</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
