<ion-view view-title="{{scenario.title | uppercase}} - {{scenario.activity | uppercase}}">
  <ion-content>
    <ion-list ng-if="obs">
      <!--<ion-item ng-if="!rate">
        <div class="item">
          <div class="row">
            <div class="col col-25"></div>
            <div ng-repeat="el in matrix.hheaders" class = "col"><span>{{el}}</span></div>
          </div>
          <div class="row" ng-repeat="i in matrix.vheaders">
            <div class="col col-25">{{i}}</div>
            <div ng-repeat="e in matrix.choices[$index]" class="col">
              <input type="radio"
                     ng-model="data.choicedata[$parent.$index]"
                     ng-value='e'
                     ng-change="change({type:'choice', value:i+':'+$parent.$index+':'+data.choicedata[$parent.$index]})">
              </td>
            </div>
          </div>
        </div>
      </ion-item>-->

      <ion-item>
        <div class="item" ng-if="!rate">
          <table>
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="el in matrix.hheaders">
                  <div>
                    <span>
                      {{el}}
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in matrix.vheaders">
                <th>{{i}}</th>
                <td ng-repeat="e in matrix.choices[$index]" style="text-align:center; vertical-align:middle">
                  <input type="radio"
                         ng-model="data.choicedata[$parent.$index]"
                         ng-value='e'
                         ng-change="change({type:'choice', value:i+':'+$parent.$index+':'+data.choicedata[$parent.$index]})">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-repeat="item in scenario.screenData[act].screenElements">
          <ion-item ng-if="item.type == 'textarea'">
            <label class="item item-input item-stacked-label">
              <span class="input-label">{{item.title}}</span>
              <textarea placeholder="enter text" ng-model="data.text[$index]" ng-change="change({type:'text', value:data.text[$index]})" ng-model-options="{ updateOn: 'blur'}"></textarea>
            </label>
          </ion-item>
          <ion-item ng-if="item.type == 'rate'">
            <div class="input-label">{{item.title}}</div>
            <label ng-repeat="i in item.content">
              <input type="radio"
                     ng-model="data.choicedata[$parent.$index]"
                     ng-value='i["[answer]"]'
                     ng-change="change({type:'choice', value:item.title+':'+$parent.$index+':'+data.choicedata[$parent.$index]})">
              {{i["[answer]"]}}
            </label>
          </ion-item>
        </div>

      </ion-item>
    </ion-list>

    <ion-list ng-if="!obs">
      <ion-item ng-repeat="item in scenario.screenData[act].screenElements">
        <div ng-switch="item.type">
          <label ng-switch-when="instruction" class="item item-input item-label">
            <p>{{item.title}}</p>
          </label>
          <label ng-switch-when="textarea" class="item item-input item-stacked-label">
            <span class="input-label">{{item.title}}</span>
            <textarea id="screen1_ta{{$index}}" placeholder="enter text" ng-model="data.text[$index]" ng-change="change({type:'text', value:data.text[$index]})" ng-model-options="{ updateOn: 'blur'}"></textarea>
          </label>
          <label ng-switch-when="numerical" class="item item-input item-stacked-label" >
            <span class="input-label">{{item.title}}</span>
            <input id="screen1_nf{{$index}}" type="tel" placeholder="enter number" ng-model="data.numerical[$index]" ng-change="change({type:'numerical', value:data.numerical[$index]})" ng-model-options="{ updateOn: 'blur'}">
          </label>
          <label ng-switch-when="image" class="item item-input item-stacked-label">
            <span class="input-label">{{item.title}}</span>
            <br>
            <!--<button class="button button-primary" ng-click="function()">Take a picture</button>-->
            <input type="file" accept="image/*" capture="camera" id="screen1_ci{{$index}}" class="imageupload" ng-model="data.image[$index]" onchange="angular.element(this).scope().uploadFile(this, 'image')">
          </label>
          <label ng-switch-when="sound" class="item item-input item-stacked-label">
            <span class="input-label">{{item.title}}</span>
            <br>
            <!--<button class="button button-primary" ng-click="function()">Take a picture</button>-->
            <input type="file" accept="audio/*" capture="camera" class="audioupload" id="screen1_ca{{$index}}" ng-model="data.sound[$index]" onchange="angular.element(this).scope().uploadFile(this, 'sound')">
          </label>
          <label ng-switch-when="video" class="item item-input item-stacked-label">
            <span class="input-label">{{item.title}}</span>
            <br>
            <!--<button class="button button-primary" ng-click="function()">Take a picture</button>-->
            <input type="file" accept="video/*" capture="camera" class="videoupload" id="screen1_cv{{$index}}" ng-model="data.video[$index]" onchange="angular.element(this).scope().uploadFile(this,'video')">
          </label>
          <label ng-switch-when="choice" class="item">
            <div class="input-label">{{item.title}}</div>
            <label ng-repeat="i in item.content">
              <input type="radio"
                     ng-model="data.choicedata[$parent.$index]"
                     ng-value='i["[answer]"]'
                     ng-change="change({type:'choice', value:item.title+':'+$parent.$index+':'+data.choicedata[$parent.$index]})">
              {{i["[answer]"]}}
            </label>
            <!--<select ng-model="data.choice[$index]" ng-change="change({type:'choice', value:data.choice[$index]})">
              <option ng-repeat="i in item.content">{{i["[answer]"]}}</option>
            </select>-->
          </label>
          <label ng-switch-when="date" class="item item-input item-stacked-label">
            <span class="input-label">{{item.title}}</span>
            <input type="date" placeholder="pick a date">
          </label>
          <label ng-switch-when="location" class="item item-input item-stacked-label">
            <span class="input-label">{{item.title}}</span>
            <br>
            <button class="button button-calm" ng-click="function()">Get Location</button>
          </label>
        </div>
      </ion-item>
    </ion-list>
    <button class="button button-block button-balanced" ng-click="submit()">Submit</button>
  </ion-content>
</ion-view>


