<ion-view view-title="Scenarios">
  <ion-content>
    <ion-list>
      <div ng-repeat="scenario in scenarios">
        <ion-item ng-href="#/app/activity/{{scenario._id}}">
          {{scenario.title}}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
