body {
    background: #494949;
}
.wrapper {
    position: absolute;
    width: 97.75%;
    height: 96%;
    top: 2%;
    left: 1%;
    /*
    transform: translate(-50%, -50%);*/
    background: #f5f5f5;
    overflow: scroll;
}

/*
CSS suggestions from Bootstrap-UI
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* SCENARIOS ----------------------------- */

.page-header input {
    text-align: left;
    font-size: 21px;
    height: 30px;
    width: 740px;
    margin-top: 18px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}

/*
Header styles
*/
#top-left {
    position: relative;
    float: left;
    width: 65px;
    z-index: 1;
}

.cross {
    font-weight: 700;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.cross::before,
.cross::after {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #ccc;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}
.cross::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}
.cross::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}
.cross:hover,
.cross:focus {
    color: #000;
}
.cross:hover::before,
.cross:hover::after,
.cross:focus::before,
.cross:focus::after {
    opacity: 0.7;
}
.cross:hover::before,
.cross:focus::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #e74c3c;
}
.cross:hover::after,
.cross:focus::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #e74c3c;
}
/*END HEADER STYLES*/

/* authoring ----------------------------- */
.screen-container {
    border: 1px solid #eee;
    border-radius: 10px;
    display: block;
    overflow: hidden;
}

.screen-item {
    font-family: "Lato",sans-serif;
    display: block;
    width: 220px;
    text-align: left;
    height: 40px;
    padding: 17px 20px 20px 20px;
    border-bottom: 1px solid #eee;
    background: #f2f2f2;
    font-size: 18px;
    color: #ababab;
}
.screen-item span {
    margin-right: 10px;
}
.screen-item a {
    text-decoration: none;
    color: #ababab;
}
.screen-item:hover a {
    color: #333;
}
.screen-item.active a {
    color: #000;
}
.screen-item:hover {
    background: #f6f6f6;
    cursor: pointer;
    color: #333;
}
.screen-item.active {
    background: #fff;
    color: #000;
}

/* end authoring ----------------------------- */



/* Checklist */
.state-icon {
    left: -5px;
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}



/*
CSS for the
*/