body {
    background: #494949;
}
.wrapper {
    position: absolute;
    width: 97.75%;
    height: 96%;
    top: 2%;
    left: 1%;
    /*
    transform: translate(-50%, -50%);*/
    background: #f5f5f5;
    overflow: scroll;
}

/* SCENARIOS ----------------------------- */

.page-header input {
    text-align: left;
    font-size: 21px;
    height: 30px;
    width: 740px;
    margin-top: 18px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa;
    font-weight: 300;
    font-style: italic;
}

#top-left {
    position: relative;
    float: left;
    width: 50px;
    z-index: 1;
}
#top-right {
    position: relative;
    float: right;
    margin-left: 50px;
    width: 50px;
    z-index: 1;
}

.cross {
    font-weight: 700;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.cross::before,
.cross::after {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #ccc;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}
.cross::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}
.cross::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}
.cross:hover,
.cross:focus {
    color: #000;
}
.cross:hover::before,
.cross:hover::after,
.cross:focus::before,
.cross:focus::after {
    opacity: 0.7;
}
.cross:hover::before,
.cross:focus::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #e74c3c;
}
.cross:hover::after,
.cross:focus::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #e74c3c;
}



#updatedlbt {
    margin-top: 10px;
    width: 100%;
}


/* EDITOR ----------------------------- */


/* Checklist */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

/*
CSS suggestions from Bootstrap-UI
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*
CSS for smart table
*/
.sortable {  cursor: pointer;}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}