
.clean {
  clear: both;  
}



/***** MAP ******/
.gm-style .gm-style-iw {
    font-size: 11px;
    font-weight: 300;
    overflow: scroll;
}

.info-window-image img {
	height: 150px;
	margin-bottom: 0.5em;
}

/***** GRAPHS ******/
.graph {
  padding: 20px;
}

.barchart, .scatterplot {
	cursor: default;
}

.barchart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.barchart rect {
  fill: steelblue;
}

.barchart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/** TIMELINE **/
.timeline {
  padding: 20px;
  overflow: scroll;
}
/*
.timeline .axis path,
.timeline .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.timeline .timeline-label {
  font-size: 12px;
  padding-bottom: 10px;
}
.timeline .coloredDiv {
  height:20px; width:20px; float:left;
}
*/

.timeline:before {
  display: none;
}

/***** MEDIA ******/
.media img, 
.media video,
.media audio {
  max-width: 100%;
  max-height: 100%;
}

.media-item-container {
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.media-item {
  width: 100%;
  height: 90%;
}

/***** TEXT ******/

.text-item {
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  max-height: 200px;
  padding: 10px;
  margin: 10px;
  overflow: scroll;
}