<ion-view view-title="Activities">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in activitylist" href="#/app/playlists/{{item.id}}">
        {{item.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
