.remove-scenario {
	color: #FF3A2D;
	/*float: right;*/
}

#scenarios table, #otherScenarios table {
	width: 100%;
}

#scenarios table th, #otherScenarios table th {
	text-align: center;
}

#scenarios table td, #otherScenarios table td {
	/*border: 1px solid black;*/
	text-align: left;
	padding: 5px;
}

#scenarios table td:nth-child(1) {
	width: 40%;
} 

#scenarios table td:nth-child(2) {
	width: 20%;
	text-align: center;
}

#scenarios table td:nth-child(3) {
	width: 20%;
	text-align: center;
}

#scenarios table td:nth-child(4) {
	width: 10%;
	text-align: center;
}

#scenarios table td:nth-child(5) {
	width: 10%;
	text-align: center;
}

#otherScenarios table td:nth-child(1) {
	width: 40%;
	/*width: 28%;*/
}

#otherScenarios table td:nth-child(2) {
	/*width: 22%;*/
	width: 20%;
	text-align: center;
}

#otherScenarios table td:nth-child(3) {
	/*width: 20%;*/
	width: 20%;
	text-align: center;
}

#otherScenarios table td:nth-child(4) {
	width: 20%;
	/*width: 22%;*/
	text-align: center;
}

/*#otherScenarios table td:nth-child(5) {
	width: 10%;
}*/

#scenarios table td .remove-scenario {
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    /*display: block;*/
    /*margin-bottom: -1px;*/
    padding: 10px 12px;
    /*width: 100%;*/
    position: relative;
}

#scenarios table td .qrcode {
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 12px;
    position: relative;
}

#scenarios table td .hide-scenario {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 12px;
	position: relative;
}

#scenarios table td .unhide-scenario {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 12px;
	position: relative;
}


body .wrapper .print-content {
	display: none;
}

body .wrapper .print-content .title {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
}

@media print {
  body .wrapper .content * {
    display:none;
  }

  body .wrapper {
  	position: relative;
  }

  body .wrapper .print-content {
  	display: block;
  }
}